* {
  margin: 0;
  padding: 0;

  --black: #272a31;
  --orange: #ec5242;
  --white: #d3d3d3;

  font-family: 'open Sans', sans-serif;
}

h2,
h3 {
  font-size: 20px;
  font-family: 'Cousine', sans-serif;
  font-weight: 700;
}

.top_menu {
  display: none;
  height: 36px;
  background-color: rgb(62, 62, 62);
  text-align: right;
  line-height: 36px;
  vertical-align: middle;
}

.Topbar-nav li a {
  color: var(--black);
  text-decoration: none;
}

.top_menu ul li a {
  font-size: 15px;
  color: var(--white);
  text-decoration: none;
}

.Topbar-nav li:hover a {
  color: var(--orange);
}

.top_menu ul {
  padding: 0;
  list-style: none;
}

.Topbar-nav li:nth-child(6) a {
  color: var(--orange);
}

.top_menu ul li:nth-child(n+3) a:hover {
  border-bottom: var(--white) solid 1px;
}

.burger {
  top: 25px;
  cursor: pointer;
  position: absolute;
  background: var(--black);
  width: 25px;
  height: 5px;
  transition: 0.2s;
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  background: var(--black);
  width: 25px;
  height: 5px;
  transition: 0.2s;
}

.burger::before {
  transform: translateY(10px);
}

.burger::after {
  transform: translateY(-10px);
}

.burger.active::before {
  transform: rotate(45deg);
}

.burger.active::after {
  transform: rotate(-45deg);
}

.burger.active {
  width: 0;
}

.Topbar {
  padding: 0 10vw;
  background-color: transparent;
  width: 100vw;
  transition: 0.2s;
}

.Topbar.active {
  height: 100vh;
  background-color: var(--white);
}

.Topbar-logo {
  display: none;
  background-image: url(src/img/logo-lg.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  min-width: 100px;
}

.Topbar-nav {
  margin: 0 !important;
  padding: 0;
  display: none;
}

.Topbar-nav.active {
  padding-top: 10vh;
  display: block;
}

.Topbar-nav li {
  line-height: 15px;
  margin: 20px;
  list-style: none;
}

.Topbar-nav.active li {
  text-align: center;
  font-size: 40px;
  padding: 20px 0 !important;
}

.Topbar-nav li:nth-child(6) {
  padding: 3px;
  border: var(--orange) solid 4px !important;
  margin: 13px;
}

#Headline {
  background-image: url(src/img/mobile_intro_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Headline-wrapper {
  padding-top: 15vh;
}

.Headline-title {
  width: 90%;
  height: auto;
}

#Headline-box {
  border: 5px solid rgba(255, 255, 255, 0.555);
  color: var(--black);
  background-color: rgb(245, 245, 245);
  font-size: 12px;
  margin: 7vh 0;
}

#Headline-date {
  font-size: 12px;
  font-family: 'Rubik Mono One', sans-serif;
  color: var(--black);
}

#Headline-sponsor {
  font-size: 12px;
  color: var(--black) !important;
}

#MainProgram {
  background-color: rgb(39, 42, 50);
  background-image: url(src/img/hitmark.png);
  background-size: 35px;
  color: var(--white);
}

.MainProgram-list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 15vw 20vw 1fr;
  background: rgba(255, 255, 255, 0.1);
}

.MainProgram-Image {
  grid-area: 1/ 1/span 1/ span 1;
  height: auto;
  width: 100%;
  margin: auto 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.MainProgram-type {
  font-family: 'Cousine', sans-serif;
  font-weight: 700;
  grid-area: 1/ 2/span 1/ span 1;
  font-size: 12px;
  color: var(--orange);
}

.MainProgram-text {
  grid-area: 1/ 3/span 1/ span 1;
}

#MainProgram div {
  font-size: 12px;
}

#MainProgram ul {
  list-style: none;
  padding: 0 !important;
}

.MainProgram-link {
  text-decoration: none;
  display: none;
  color: var(--white);
  margin-bottom: 70px;
}

.MainProgram-link:hover {
  color: var(--white);
  border-bottom: var(--white) solid 2px;
  margin-bottom: 68px;
}

#MainProgram-btn {
  color: var(--white);
  border: none;
  background-color: var(--orange);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.line {
  margin: 10px auto;
  width: 50px;
  border-bottom: 1.2px var(--orange) solid;
}

.Featured-SPEAKERS {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

#Yochai {
  grid-area: 1/ 1/span 1/ span 1;
}

#Kilnam {
  grid-area: 2/ 1/span 1/ span 1;
}

#Sohyeong {
  grid-area: 3/ 1/span 1/ span 1;
}

#Julia {
  grid-area: 4/ 1/span 1/ span 1;
}

#Lila {
  grid-area: 5/ 1/span 1/ span 1;
}

#Ryan {
  grid-area: 6/ 1/span 1/ span 1;
}

.Featured-text {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.Featured-speaker p {
  line-height: 13px;
  font-size: 12px;
}

.Featured-text p:nth-child(4) {
  margin-top: auto;
}

.featured-img img {
  width: calc(min(35vw, 20vh));
  height: auto;
}

.Line {
  border-bottom: var(--black) 1px solid;
  width: 30px;
}

.Featured-speaker {
  display: flex;
}

.Featured-des {
  color: var(--orange);
}

.SeeMore {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: rgb(0 0 0 / 15%) 0.1px 2px 8px 0.1px;
  background-color: #fff;
}

.Fetured-see {
  display: flex !important;
}

#Partner {
  color: var(--white);
  background-color: var(--black);
}

#Partner ul {
  justify-content: center;
  list-style: none;
}

.footer-img img {
  transform: translateX(2vw);
  height: auto;
  max-width: 80%;
}

#Sponsors li img {
  width: 100px;
  height: auto;
}

.footer-img {
  margin: auto 0;
  height: 60px;
}

.foter-text {
  line-height: 15px;
  font-size: 12px;
  display: none;
}

@media screen and (min-device-width: 768px) {
  .top_menu {
    display: block;
  }

  #Topbar-Wrapper {
    display: flex;
    justify-content: space-between;
  }

  .Topbar {
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 30%) 0.1px 2px 8px 0.1px;
  }

  .Topbar-logo-a {
    height: 100%;
    width: auto;
  }

  .Topbar-logo {
    display: block;
    height: 60px;
  }

  .Topbar-burger {
    display: none;
  }

  .Topbar-nav {
    display: flex;
  }

  #Headline {
    background-image: url(src/img/main_big.png);
    padding-top: 1rem;
    height: auto;
  }

  .Headline-wrapper {
    max-width: 80vw;
    margin: 0 auto;
  }

  #Headline-box {
    font-size: 15px;
  }

  #Headline p {
    font-size: 15px;
    padding: 0 !important;
  }

  #Headline p:nth-child(3) {
    font-size: 15px;
    max-width: 60vw;
    margin: 20px 0 !important;
  }

  #MainProgram ul {
    display: flex;
  }

  #MainProgram ul li {
    margin: 1px;
    display: flex;
  }

  #MainProgram ul li:hover {
    cursor: pointer;
    margin: 0;
    border: 1px var(--white) solid;
  }

  .MainProgram-list {
    max-width: 160px;
    grid-template-rows: auto;
    grid-template-columns: auto;
  }

  .MainProgram-Image {
    height: 100%;
    width: auto;
    margin: 0 auto;
    grid-area: 1/ 1/span 1/ span 1;
  }

  .MainProgram-type {
    margin: 10px 0;
    grid-area: 2/ 1/span 1/ span 1;
  }

  .MainProgram-text {
    grid-area: 3/ 1/span 1/ span 1;
  }

  .MainProgram-link {
    display: block;
  }

  #MainProgram-btn {
    display: none;
  }

  #Yochai {
    grid-area: 1/ 1/span 1/ span 1;
  }

  #Kilnam {
    grid-area: 1/ 2/span 1/ span 1;
  }

  #Sohyeong {
    grid-area: 2/ 1/span 1/ span 1;
  }

  #Julia {
    grid-area: 2/ 2/span 1/ span 1;
  }

  #Lila {
    grid-area: 3/ 1/span 1/ span 1;
  }

  #Ryan {
    grid-area: 3/ 2/span 1/ span 1;
  }

  .SeeMore {
    display: none;
  }

  .foter-text {
    display: block;
  }
}
