* {
  margin: 0;
  padding: 0;

  --black: #272a31;
  --orange: #ec5242;
  --white: #d3d3d3;

  font-family: 'open Sans', sans-serif;
}

h2,
h3 {
  font-size: 20px;
  font-family: 'Cousine', sans-serif;
  font-weight: 700;
}

.top_menu {
  display: none;
  height: 36px;
  background-color: rgb(62, 62, 62);
  text-align: right;
  line-height: 36px;
  vertical-align: middle;
}

.top_menu ul {
  padding: 0;
  list-style: none;
}

.Topbar-nav li a {
  color: #3a3535;
  text-decoration: none;
}

.top_menu ul li a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}

.Topbar-nav li:hover a {
  color: #ec5242;
}

.Topbar-nav li:nth-child(6) a {
  color: #ec5242;
}

.top_menu ul li:nth-child(n+3) a:hover {
  border-bottom: #fff solid 1px;
}

.burger {
  top: 25px;
  cursor: pointer;
  position: absolute;
  background: #3a3535;
  width: 25px;
  height: 5px;
  transition: 0.2s;
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  background: #3a3535;
  width: 25px;
  height: 5px;
  transition: 0.2s;
}

.burger::before {
  transform: translateY(10px);
}

.burger::after {
  transform: translateY(-10px);
}

.burger.active::before {
  transform: rotate(45deg);
}

.burger.active::after {
  transform: rotate(-45deg);
}

.burger.active {
  width: 0;
}

.Topbar {
  padding: 0 10vw;
  background-color: transparent;
  width: 100vw;
  transition: 0.2s;
}

.Topbar.active {
  height: 100vh;
  background-color: #fff;
}

.Topbar-nav.active {
  padding-top: 10vh !important;
  display: block;
}

.Topbar-nav li {
  line-height: 15px;
  margin: 20px;
  list-style: none;
}

.Topbar-nav.active li {
  text-align: center;
  font-size: 40px;
  padding: 20px 0 !important;
}

.Topbar-logo {
  display: none;
  background-image: url(../img/logo-lg.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  min-width: 100px;
}

.Topbar-nav {
  margin: 0 !important;
  padding: 0 !important;
  display: none;
}

.Topbar-nav li:nth-child(6) {
  padding: 3px;
  border: #ec5242 solid 4px !important;
  margin: 13px;
}

#Headline {
  background-image: url(../img/about_bg_01.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #fd3822;
  background-color: rgb(247, 247, 247);
}

#Headline-wrapper {
  padding-bottom: 50px;
}

.Headline-title {
  width: 80%;
  height: auto;
}

.Headline-box {
  color: #3a3535;
  background: #fff;
  box-shadow: 0.1px 0.1px 1px 0.01px #3a3535;
  border-radius: 5px;
}

#Headline-contact {
  color: #3a3535;
}

#Headline-mail {
  color: #3a3535;
}

.Logo-section {
  color: #3a3535;
}

.line {
  margin: 10px auto;
  width: 50px;
  border-bottom: 1.2px #fd3822 solid;
}

.Logo-section p {
  font-size: 12px;
}

.Logo-img {
  width: 100%;
  max-width: 700px;
  box-shadow: 0.1px 0.1px 1px 0.01px #3a3535;
}

.summit2013,
.summit2011 {
  max-width: 95%;
  height: auto;
}

.summit2013:hover {
  content: url(../img/about_2013_hover.png);
}

.summit2011:hover {
  content: url(../img/about_2011_hover.png);
}

#Partner {
  color: #fff;
  background-color: #3a3535;
}

#Partner ul {
  justify-content: center;
  list-style: none;
}

.footer-img img {
  transform: translateX(2vw);
  height: auto;
  max-width: 80%;
}

#Sponsors li img {
  width: 100px;
  height: auto;
}

.footer-img {
  margin: auto 0;
  height: 60px;
}

.foter-text {
  line-height: 15px;
  font-size: 12px;
  display: none;
}

@media screen and (min-device-width: 768px) {
  .top_menu {
    display: block;
  }

  #Topbar-Wrapper {
    display: flex;
    justify-content: space-between;
  }

  .Topbar {
    background-color: #fff;
    box-shadow: 1px 0.01px 10px black;
  }

  .Topbar-logo-a {
    height: 100%;
    width: auto;
  }

  .Topbar-logo {
    display: block;
    height: 60px;
  }

  .Topbar-burger {
    display: none;
  }

  .Topbar-nav {
    display: flex;
  }

  #Headline {
    padding-top: 4rem;
    height: auto;
  }

  #images {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
  }

  #images img {
    max-width: 49%;
  }

  .foter-text {
    display: block;
  }
}
